**Importing Libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os 
import random
from datetime import datetime
from scipy import sparse
import Recommenders as Recommenders
#from scipy.sparse import csr matrix

warnings.filterwarnings('ignore')
warnings.simplefilter(action = "ignore", category = RuntimeWarning)

**Dataset1**

In [2]:
df=pd.read_csv('kaggle_visible_evaluation_triplets.txt',sep='\t', names=['user_id','song_id','frequency'])

In [3]:
df.head(5)

                                    user_id             song_id  frequency
0  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOBONKR12A58A7A7E0          1
1  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOEGIYH12A6D4FC0E3          1
2  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOFLJQZ12A6D4FADA6          1
3  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOHTKMO12AB01843B0          1
4  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SODQZCY12A6D4F9D11          1

In [4]:
df.describe()

          frequency
count  1.450933e+06
mean   3.187149e+00
std    7.051664e+00
min    1.000000e+00
25%    1.000000e+00
50%    1.000000e+00
75%    3.000000e+00
max    9.230000e+02

**Dataset2**

In [5]:
df1=pd.read_csv('unique_tracks.txt',sep='<SEP>',names=['track_id', 'song_id', 'artist_name', 'release'])

In [6]:
df1.head(5)

             track_id             song_id       artist_name            release
0  TRMMMYQ128F932D901  SOQMMHC12AB0180CB8  Faster Pussy cat       Silent Night
1  TRMMMKD128F425225D  SOVFVAK12A8C1350D9  Karkkiautomaatti        Tanssi vaan
2  TRMMMRX128F93187D9  SOGTUKN12AB017F4F1    Hudson Mohawke  No One Could Ever
3  TRMMMCH128F425532C  SOBNYVR12A8C13558C       Yerba Brava      Si Vos Querés
4  TRMMMWA128F426B589  SOHSBXH12A8C13B0DF        Der Mystic   Tangle Of Aspens

In [7]:
df1.describe()

                  track_id             song_id      artist_name release
count              1000000             1000000          1000000  999985
unique             1000000              999056            72665  702000
top     TREUDPF12903CB6C6F  SOZBJBH12A8151BD4E  Michael Jackson   Intro
freq                     1                   3              194    1511

**CHECKING MISSING VALUERS AND DUPLICATES**

In [8]:
print(df.isna().sum())
print(df1.isna().sum())

user_id      0
song_id      0
frequency    0
dtype: int64
track_id        0
song_id         0
artist_name     0
release        15
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
df1.duplicated().sum()

0

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df['song_id'].duplicated().sum()

1287727

In [13]:
df1['song_id'].duplicated().sum()

944

**MERGING THE DATA**

In [14]:
ds = pd.merge(df, df1.drop_duplicates(['song_id']), on='song_id', how='inner')

In [15]:
df2 = ds.iloc[0:100000,:]
df2.head()

,user_id,song_id,frequency,track_id,artist_name,release
0,fd50c4007b68a3737fe052d5a4f78ce8aa117f3d,SOBONKR12A58A7A7E0,1,TRAEHHJ12903CF492F,Dwight Yoakam,You're The One
1,c34670d9c1718361feb93068a853cead3c95b76a,SOBONKR12A58A7A7E0,1,TRAEHHJ12903CF492F,Dwight Yoakam,You're The One
2,c5006d9f41f68ccccbf5ee29212b6af494110c5e,SOBONKR12A58A7A7E0,1,TRAEHHJ12903CF492F,Dwight Yoakam,You're The One
3,e4332e11f4df6dd26673bb6b085e9a2bbdc9b8a5,SOBONKR12A58A7A7E0,2,TRAEHHJ12903CF492F,Dwight Yoakam,You're The One
4,baf2fe5885ab93fbbdb7fecc6691788e70afb6c8,SOBONKR12A58A7A7E0,4,TRAEHHJ12903CF492F,Dwight Yoakam,You're The One

In [16]:
#df2.to_csv(r'C:\Users\admin\OneDrive\Desktop\kaggle\original.csv')

In [17]:
df2.tail(5)

,user_id,song_id,frequency,track_id,artist_name,release
99995,dddcc58b7737433a44e355cce60c8405ffb7836e,SOBXHDL12A81C204C0,2,TRHNCIR128F42334A5,Kanye West,Stronger
99996,550cb0bd684a1945f9c0bc1a3e56233a2bb0dc30,SOBXHDL12A81C204C0,1,TRHNCIR128F42334A5,Kanye West,Stronger
99997,4cc8fb2634db54539b8d9b27ce02fba3c19505a4,SOBXHDL12A81C204C0,1,TRHNCIR128F42334A5,Kanye West,Stronger
99998,3c6248e7e2117ebb5ef4afed2851f502ae29fbbb,SOBXHDL12A81C204C0,1,TRHNCIR128F42334A5,Kanye West,Stronger
99999,c8667b5e1481bd5d7ecbf5bf8a838929c08839a8,SOBXHDL12A81C204C0,82,TRHNCIR128F42334A5,Kanye West,Stronger

In [18]:
pr = Recommenders.popularity_recommender_py()

In [19]:
pr.create(df2, 'user_id', 'release')

In [20]:
# display the top 10 popular songs
pr.recommend(df2['user_id'][5])

,user_id,release,score,Rank
286,f6e34f0a68d5ea1344511e33486f956de361db78,Sehr kosmisch,5043,1.0
361,f6e34f0a68d5ea1344511e33486f956de361db78,Undo,4483,2.0
396,f6e34f0a68d5ea1344511e33486f956de361db78,You're The One,4136,3.0
73,f6e34f0a68d5ea1344511e33486f956de361db78,Dog Days Are Over (Radio Edit),3780,4.0
269,f6e34f0a68d5ea1344511e33486f956de361db78,Revelry,3672,5.0
285,f6e34f0a68d5ea1344511e33486f956de361db78,Secrets,3430,6.0
134,f6e34f0a68d5ea1344511e33486f956de361db78,Horn Concerto No. 4 in E flat K495: II. Romanc...,3272,7.0
96,f6e34f0a68d5ea1344511e33486f956de361db78,Fireflies,2725,8.0
349,f6e34f0a68d5ea1344511e33486f956de361db78,Tive Sim,2668,9.0
232,f6e34f0a68d5ea1344511e33486f956de361db78,OMG,2260,10.0

In [21]:
pr.recommend(df2['user_id'][50])

,user_id,release,score,Rank
286,849d1675036c83b2404f13bf249a05dd4880ecc4,Sehr kosmisch,5043,1.0
361,849d1675036c83b2404f13bf249a05dd4880ecc4,Undo,4483,2.0
396,849d1675036c83b2404f13bf249a05dd4880ecc4,You're The One,4136,3.0
73,849d1675036c83b2404f13bf249a05dd4880ecc4,Dog Days Are Over (Radio Edit),3780,4.0
269,849d1675036c83b2404f13bf249a05dd4880ecc4,Revelry,3672,5.0
285,849d1675036c83b2404f13bf249a05dd4880ecc4,Secrets,3430,6.0
134,849d1675036c83b2404f13bf249a05dd4880ecc4,Horn Concerto No. 4 in E flat K495: II. Romanc...,3272,7.0
96,849d1675036c83b2404f13bf249a05dd4880ecc4,Fireflies,2725,8.0
349,849d1675036c83b2404f13bf249a05dd4880ecc4,Tive Sim,2668,9.0
232,849d1675036c83b2404f13bf249a05dd4880ecc4,OMG,2260,10.0

**Item Similarity Recommendation**

In [22]:
ir = Recommenders.item_similarity_recommender_py()
ir.create(df2, 'user_id', 'release')

In [23]:
user_items = ir.get_user_items(df2['user_id'][5])

In [24]:
for user_item in user_items:
    print(user_item)

You're The One
Revelry
STARSTRUKK [FEATURINGKATYPERRY] (Explicit Bonus Version)

In [25]:
# give song recommendation for that user
ir.recommend(df2['user_id'][5])

No. of unique songs for the user: 3
no. of unique songs in the training set: 400
Non zero values in cooccurence_matrix :610

,user_id,song,score,rank
0,f6e34f0a68d5ea1344511e33486f956de361db78,Undo,0.101653,1
1,f6e34f0a68d5ea1344511e33486f956de361db78,Horn Concerto No. 4 in E flat K495: II. Romanc...,0.063813,2
2,f6e34f0a68d5ea1344511e33486f956de361db78,Ain't Misbehavin,0.059722,3
3,f6e34f0a68d5ea1344511e33486f956de361db78,Tive Sim,0.045352,4
4,f6e34f0a68d5ea1344511e33486f956de361db78,Représente,0.041899,5
5,f6e34f0a68d5ea1344511e33486f956de361db78,Invalid,0.040089,6
6,f6e34f0a68d5ea1344511e33486f956de361db78,Sehr kosmisch,0.038049,7
7,f6e34f0a68d5ea1344511e33486f956de361db78,Catch You Baby (Steve Pitron & Max Sanna Radio...,0.037191,8
8,f6e34f0a68d5ea1344511e33486f956de361db78,Secrets,0.036977,9
9,f6e34f0a68d5ea1344511e33486f956de361db78,Dog Days Are Over (Radio Edit),0.036359,10

In [26]:
# give related songs based on the words
ir.get_similar_items(['Oliver James - Fleet Foxes', 'The End - Pearl Jam'])

no. of unique songs in the training set: 400
Non zero values in cooccurence_matrix :0

  user_id                           song  score rank
0                               Stronger    0.0    1
1          Strut (1993 Digital Remaster)    0.0    2
2                                Officer    0.0    3
3                           Star To Fall    0.0    4
4                      Last Man Standing    0.0    5
5                    Equally Destructive    0.0    6
6                            Code Monkey    0.0    7
7                       Cry of the Brave    0.0    8
8                                So What    0.0    9
9                               Renegade    0.0   10